<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/normalize.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/base.css"
      media="screen"
    />
  </head>
  <body>
    <h1>Hello, World!</h1>
  </body>
</html>
